.button {
  display: block;
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  border-radius: 4px;
  font-size: 20px;
  background: #67E499;
  color: #FFF;
  outline: 0;
}

.button:active {
  background: #5ac986;
}

.button-small {
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  font-size: 16px;
}

a.button {
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 9px;
  width: auto;
  text-align: center;
}
