.topbar {
  height: 64px;
  padding: 16px 0;
  margin-bottom: 20px;
}

.topbar button {
  padding: 0;
  border: 0;
  background: none;
  outline: 0;
}

.topbar svg {
  height: 24px;
  width: 38px;
  fill: none;
}
