.actionScreen {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: #FFF;
  box-shadow: -5px 0px 10px 0px rgba(50, 50, 50, 0.2);
}

.actionScreen-enter {
  transform: translateX(110%);
}

.actionScreen-enter.actionScreen-enter-active {
  transform: translateX(0);
  transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);;
}

.actionScreen-leave.actionScreen-leave-active {
  transform: translateX(110%);
  transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

