.car {
  max-width: 420px;
}

.car_category {
  margin-bottom: 8px;
  color: #8F63F4;
}

.car_details {
  display: flex;
}

.car_picture {
  width: 60%;
}

.car_picture img {
  display: block;
  height: auto;
  width: 100%;
}

.car_booking {
  width: 40%;
  padding-left: 20px;
}

.car_booking p {
  margin-bottom: 8px;
}

.car_booking svg {
  height: 16px;
  width: 16px;
  margin: 0 4px -2px 0;
}

.car_price {
  font-size: 24px;
}
