.dateTimePicker {
  padding: 0 20px 20px;
}

.dateTimePicker_cta {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
}


/* Override React-Date plugin */

.SingleDatePicker {
  display: block !important;
}

.SingleDatePickerInput {
  position: relative;
  margin: 4px 0;
  height: 56px;
  border-top: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid #949494 !important;
  border-left: 0 !important;
  background: transparent !important;
}

.DateInput {
  font-weight: normal !important;
  font-size: inherit !important;
  line-height: inherit !important;
  color: inherit !important;
  margin: 0 !important;
  padding: 0 !important;
  background: transparent !important;
  display: table !important;
  height: 100%;
  width: 100% !important;
  vertical-align: baseline !important;
}

.DateInput__input {
  margin: 0 !important;
}

.DateInput__display-text {
  display: table-cell;
  height: 100%;
  padding: 0 !important;
  white-space: nowrap;
  overflow: visible !important;
  vertical-align: middle;
  color: #949494;
}

.DateInput__display-text--focused {
  background: transparent !important;
  border-color: none !important;
  border-radius: 0 !important;
  color: inherit !important;
}

.DateInput__display-text.DateInput__display-text--has-input {
  color: #231F20;
}

.CalendarDay--selected {
  background: #67E499 !important;
  border: 1px double #67E499 !important;
}

.DayPickerKeyboardShortcuts__show--bottom-right {
  display: none !important;
}
