* {
  box-sizing: border-box;
}

html {
  line-height: 1.4;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  color: #231F20;
}

body {
  margin: 0;
}

h2 {
  margin: 0 0 20px;
  font-size: 36px;
  font-weight: normal;
  line-height: 1.25;
}

h4 {
  margin: 0;
  font-size: 18px;
  font-weight: normal;
}

input {
  width: 100%;
  height: 56px;
  margin: 4px 0;
  border: 0;
  border-bottom: 1px solid #949494;
  background: transparent;
  font-size: 16px;
}

input:focus {
  outline: 0;
}

input::placeholder {
  color: #949494;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  min-height: 56px;
}

li > a,
li > span {
  display: block;
  padding: 4px 0;
}

p {
  margin: 0 0 20px;
}

a,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}
